<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书店</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>pub</th>
        <th>price</th>
        <th>market_price</th>
        <th>op</th>
    </tr>
    {% for info in book %}
        <tr>
            <td>{{ info.id }}</td>
            <td>{{ info.title }}</td>
            <td>{{ info.pub }}</td>
            <td>{{ info.price }}</td>
            <td>{{ info.market_price }}</td>
            <td>
                <a href="/bookstore/update_book/{{info.id}}">更新</a>
                <a href="/bookstore/delete_book?book_id={{info.id}}">删除</a>
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>